.BoxStyle {
    /*max-width: 40rem;
    min-width: 40rem;
    max-height: 30rem;*/
    min-height: 70vh;
    min-width: 40vw;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  };

  .RDFGraphStyle {
    height: 70vh;
  }